---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Sobre mí">
    <h1>Sobre mí</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae maiores molestiae autem, magnam, iure atque aliquam temporibus mollitia porro ipsum numquam illum reprehenderit ullam deleniti ad doloribus possimus corporis esse quibusdam quasi blanditiis! Necessitatibus natus consectetur suscipit voluptates nostrum corrupti, ea placeat enim reiciendis veritatis. Numquam dolor repudiandae ipsum quibusdam distinctio. Amet consequuntur quo iure cum laboriosam minima vel ratione pariatur tenetur inventore quidem quasi animi eos quas reiciendis nisi at soluta aperiam, doloremque repellendus placeat. Illo vel ipsum, quis voluptate eos ut suscipit laboriosam corrupti voluptatibus dolore enim quibusdam possimus blanditiis libero id sed quae eaque. Non, dolore laudantium.</p>
</Layout>